/* You can add global styles to this file, and also import other style files */
.mgs-base-color-1{
    color:#4c92ff;
}

.mgs-base-color-2{
    color:#396dbf;
}

.mgs-base-color-3{
    color:#26497f;
}

.mgs-base-color-4{
    color:#132440;
}

