/*http://leafletjs.com/examples/mobile*/
#leaf-map { 
    height: 40vh;
    width: auto; 
    /*margin-right: 12vh;*/
}

@media (min-width: 1200px) {
    #leaf-map { 
        width: auto;
        height:40vh;
        margin: 0px auto;
    }
}