<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <article-earthquake-slider></article-earthquake-slider>
</div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <post-earthquake-map></post-earthquake-map>
</div>


<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="row">
        <div class="clo-lg-6 col-md-6">
            <earthquake-scatter-diagram></earthquake-scatter-diagram>
        </div>
        <div class="col-lg-6 col-md-6">
             <earthquake-table></earthquake-table>
        </div>
    </div>
</div>
<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
    <br> 文章資料來源：
    <ul>
        <li><a href="http://scweb.cwb.gov.tw/EarthquakeAdv.aspx?ItemId=57&loc=tw">有感地震報告進階查詢</a></li>
        <li><a href="http://scweb.cwb.gov.tw/EarthquakeAdv.aspx?ItemId=61&loc=tw#">測站查詢</a></li>
    </ul>
</div>