<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="page-scroll">
            <!-- Brand and btn-group get grouped for better mobile display -->
            <a class="navbar-brand" [routerLink]="['']">MoGeoStory</a>
            <div dropdown>
                <button id="single-button" type="button" class="navbar-toggle collapsed" dropdownToggle>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul dropdownMenu role="menu" class="nav navbar-nav dropdown-menu-right">
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/about']">ABOUT</a></li>
                    <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
                    <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
                    <li class="divider dropdown-divider"></li>
                    <!--<li role="menuitem"><a class="dropdown-item" [routerLink] = "['/post/receipt']">router test</a></li>-->
                </ul>
            </div>
            <!--/.navbar-toggle collapsed-->
        </div>
        <!--/.navbar-header-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/about']">ABOUT</a>
                </li>
                <!--<li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="post.html">Sample Post</a>
                </li>
                <li>
                    <a [routerLink] = "['/post/receipt']">router test</a>
                </li>-->
            </ul>
        </div>
        <!--./collapse navbar-collapse-->
    </div>
    <!--/.container-fluid-->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/images/home-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>M-Geo Story</h1>
                    <hr class="small">
                    <span class="subheading">用資料與地圖說故事，並開啟另一個的想像</span>
                </div>
            </div>
        </div>
    </div>
</header>