<!--<about-page></about-page>-->
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-8">
      <h1 class="page-header mgs-base-color-3">移動的地圖故事</h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-md-6">
      <h1>運用空間觀點，探索我們的世界。</h1>
      <h4 class="mgs-base-color-3">每個人的心中都有著探險的基因，但往往只是缺發了引起動機的外在資訊。因此我們想要站在地圖與空間資料結合的前緣，用一些簡單的方式，成為你探索真實世界的起點。</h4>
    </div>
  </div>
  <!-- /.row -->
  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h2 class="page-header mgs-base-color-3">Team Members</h2>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h2>Miles<br>
            <small>1st</small>
          </h2>
          <h4 class="mgs-base-color-3">努力開發中</h4>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--//col-lg-3-->
    <div class="col-lg-4 col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h2>Stone<br>
            <small>2nd</small>
          </h2>
          <h4 class="mgs-base-color-3">努力開發中</h4>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// container-->