<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <h2>{{title}}</h2>
        <h4>日期：{{date}} | 作者: <a href="{{link}}">{{author}}</a></h4>
        <div class="abstract">
            <blockquote>
                <p>相較台北、新北或新竹市等地方而言，便利商店在離島(澎湖、金門、馬祖)、彰化和屏東等地，可能是採買的好去處，而不僅僅只是買個方便的地方。</p>
            </blockquote>
            <p class="line1">透過檢視地圖中2000年至2015年的家戶所得資料，可以發現幾件很不一樣的事情：</p>
            <ul class="listPoints">
                <li>台北市、新竹市與新竹縣無論是非消費性支出與消費支出，都是台灣最高的縣市，然而新竹市的儲蓄比例(約15%)稍低於台北市(約18%)，可能原因是因為家戶組成結構不同所導致的。</li>
                <li>嘉義縣、基隆市與宜蘭縣是消費支出佔總收入較高的地區(約65%，台北市為59%)，這三個縣市是有什麼樣的共通性嗎？</li>
                <li>澎湖縣與台東縣市儲蓄比例最高(約25%)，而基隆市與新竹市則僅有15%左右。從家戶所得與支出的角度來看，基隆也是有自己獨特的一面了。
                </li>
            </ul>
        </div>
        <div>
            <br>
            <h3>
                - 相較於我們所看到的，更重要是你如何解讀 -</h3>
            <blockquote>
                <p>於下方
                    <u>拖動時間軸</u>可以看到不同時間點的家戶所得分配情形；
                    <u>點選地圖</u>上的各縣市，則可看到該縣市完整的所得分配金額。</p>
            </blockquote>
        </div>
    </div>
    <div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <post-disposable-income-slider-bar></post-disposable-income-slider-bar>
</div>

<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <post-disposable-income-map></post-disposable-income-map>
</div>
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="row">
        <div class="clo-lg-6 col-md-6">
            <post-disposable-income-table></post-disposable-income-table>
        </div>
        <div class="col-lg-6 col-md-6">
            <post-disposable-income-bar-graph></post-disposable-income-bar-graph>
        </div>
    </div>
</div>
<div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
    <br> 文章資料來源：
    <ul>
        <li><a href="http://data.gov.tw/node/9416">家庭收支訪問調查-各縣市別平均每戶儲蓄</a></li>
        <li><a href="http://data.gov.tw/node/9417">家庭收支訪問調查-各縣市別平均每戶所得總額</a></li>
        <li><a href="http://data.gov.tw/node/9420">家庭收支訪問調查-各縣市別平均每戶消費支出</a></li>
        <li><a href="http://data.gov.tw/node/9415">家庭收支訪問調查-各縣市別平均每戶可支配所得</a></li>
    </ul>
</div>