<div class="container">
<div class="ngfortest container">
    <div class="row">
        <template ngFor let-article [ngForOf]="articles" let-i="index">
            <div class="clo-log-6 col-md-6">
                <div class="thumbnail">
                    <h1 class="page-header">
                        {{article.title}}
                    </h1>
                    <p class="lead">
                        create by <a href="{{article.title}}">{{article.author}}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.postDate | date}}</p>
                    <hr>
                    <img class="img-responsive" src={{article.imageLink}} alt="">
                    <hr>
                <p>{{article.summary}}</p>
                <a class="btn btn-primary" routerLink="{{article.routeLink}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </template>
    </div>
</div>
<!--//container-->