<div class="container">
    <div class="ngfortest container">
        <div class="row">
            <template ngFor let-article [ngForOf]="articles" let-i="index">
                <div class="clo-log-6 col-md-6">
                    <div class="thumbnail">
                         <a routerLink="{{article.routeLink}}"><p class="atitle"> {{article.title}} </p></a>
                        <p class="ainfo">
                            日期： {{article.postDate | date:"yyyy/MM/dd"}} | 作者: <a href="{{article.title}}">{{article.author}}</a>
                        </p>
                        <p class="asummary"> {{article.summary}}</p>
                        <a routerLink="{{article.routeLink}}"><img class="img-responsive" src={{article.imageLink}} alt="server error"></a>
                        <a class="btn btn-primary clo-log-12 col-md-12 col-xs-12" routerLink="{{article.routeLink}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <hr>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <!--//container-->