<div class="container">
    <div class="row">
        <!-- First Blog Post -->
        <div class="clo-log-6 col-md-6">
            <div class="thumbnail">
                <h1 class="page-header">
                    台灣電子發票消費地圖
                </h1>
                <p class="lead">
                    by <a href="">MoGeoStory</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on March 17, 2017 at 08:00 PM</p>
                <hr>
                <img class="img-responsive" src="/assets/images/post-receipt-banner.png" alt="">
                <hr>
                <p>透過觀察不同時間點，各縣市的電子發票消費數據，將會發現一些獨特的現象。</p>

                <a class="btn btn-primary" [routerLink]="['/post/receipt']">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- Second Blog Post -->
        <div class="clo-log-6 col-md-6">
            <div class="thumbnail">
                <h1 class="page-header">
                    各縣市基地台建置調查
                </h1>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>test</p>
                <a class="btn btn-primary" [routerLink]="['/post/backend']">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!--//second blog post-->
    </div>
    <!--//row-->
</div>

<div class="ngfortest container">
    <div class="row">
        <template ngFor let-article [ngForOf]="articles" let-i="index">
            <div class="clo-log-6 col-md-6">
                <div class="thumbnail">
                    <h1 class="page-header">
                        {{article.title}}
                    </h1>
                    <p class="lead">
                        by <a href="{{article.title}}">{{article.author}}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.postDate}}</p>
                    <hr>
                    <img class="img-responsive" src={{article.imageLink}} alt="">
                    <hr>
                </div>
            </div>
        </template>
    </div>
</div>
<!--//container-->