<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">年度</div>
      <!--tooltips is array for two slider control; ture=show value false= don't show-->
      <!--<nouislider name="yearSlider" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="someValue" [tooltips]="[true]" style="margin-top: 4em" (ngModelChange)="onChangeYear($event)"></nouislider>-->
      <div class="col-xs-11" *ngIf="show">
        <nouislider name="yearSlider" [config]="nouiSlider.config" [(ngModel)]="nouiSlider.value" style="margin-left: 2em; margin-bottom:2em" (ngModelChange)="onSlideYear($event)"
          [tooltips]="[true]"></nouislider>
      </div>
    </div>
  </div>
</form>