<div *ngIf="show">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">時間</div>
                <!--tooltips is array for two slider control; ture=show value false= don't show-->
                <div class="col-xs-12" >
                    <nouislider name="drag-slider" id="drag-slider" [config]="sliderYearConfig" [ngModel]="defaultYearRange" (ngModelChange)="onYearChange($event)"
                        [tooltips]="true"></nouislider>
                </div>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-addon">規模</div>
                <!--tooltips is array for two slider control; ture=show value false= don't show-->
                <div class="col-xs-12">
                    <nouislider name="drag-slider1" id="drag-slider" [config]="sliderScaleConfig" [ngModel]="defScaleRange" (ngModelChange)="onScaleChange($event)"
                       ></nouislider>
                </div>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-addon">區域</div>
                <div class="col-xs-12">
                    <label name="tw" class="btn btn-success" [ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="A" uncheckable>全臺</label>
                    <label name="north" class="btn btn-success" [ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="N" uncheckable>北部</label>
                    <label name="center" class="btn btn-success"[ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="C" uncheckable>中部</label>
                    <label name="sourth" class="btn btn-success"[ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="S" uncheckable>南部</label>
                    <label name="easth" class="btn btn-success" [ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="E" uncheckable>東部</label>
                    <label name="island" class="btn btn-success"[ngModel]="region"(ngModelChange)="onRegionChange($event)"  btnRadio="O" uncheckable>外海</label>
                </div>
            </div>
        </div>
    </form>
</div>