#top {
    padding-top: 50px;
}

.line1 {
    text-indent: 2em;
    font-size: 1.8rem;
}

.li{
    font-size:1.8rem;
}

/*create a table to put modal*/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}

/*create a table cell*/
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}