<!--<div>
    <button type="button" class="btn btn-default col-xs-3">Year:</button>
    <select class='selectpicker col-xs-3 col-md-3' id='dropdown_year'></select>
    <button type="button" class="btn btn-default col-xs-3">Type:</button>
</div>-->
<form class="form-horizontal" role="form">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">年度</div>
                <!--tooltips is array for two slider control; ture=show value false= don't show-->
                <!--<nouislider name="yearSlider" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="someValue" [tooltips]="[true]" style="margin-top: 4em" (ngModelChange)="onChangeYear($event)"></nouislider>-->
                <div class="col-xs-11">
                    <nouislider name="yearSlider" [config]="yearConfig" [(ngModel)]="yearValue" style="margin-left: 2em; margin-bottom:2em" 
                    (ngModelChange)="onSlideYear($event)" [tooltips]="[true]"></nouislider>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">月份</div>
                <div class="col-xs-11">
                    <nouislider name="monthSlider" [config]="monthConfig" [(ngModel)]="monthValue" style="margin-left: 2em; margin-bottom:2em"
                        (ngModelChange)="onSlideMonth($event)" [tooltips]="[true]"></nouislider>
                </div>
            </div>
        </div>
    </form>
</form>

<!--copy from ng2-bootstrap-->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">查無資料</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        目前最新資料僅統計到2016年8月，後續會持續保持更新。感謝！
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>